.alert {
  position: fixed;
  display: none;
  bottom: 42%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  padding: 0;
  width: 320px;
  min-height: 280px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet) {
    width: 640px;
    min-height: 347px;
  }

  &--show {
    display: block;
  }
}

.alert__header {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  row-gap: 30px;
  box-sizing: border-box;
  padding: 57px 42px 46px 41px;
  background-color: $white;

  @media (min-width: $tablet) {
    min-height: 201px;
    padding: 50px 50px 36px 50px;
  }
}

.alert__title {
  @include title;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet) {
    @include big-title;
  }
}

.alert__paragraph {
  @include paragraph;
  text-align: center;
  margin: 0;
  padding: 0;
}

.alert__footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: $light-grey;

  @media (min-width: $tablet) {
    min-height: 146px;
    padding: 44px 44px 43px 44px;
  }
}

.alert__button {
  @include button-link;
  @include title;
  width: 100%;
  min-height: 58px;
  box-sizing: border-box;
  padding: 14px 22px 10px 20px;

  @media (min-width: $tablet) {
    @include medium-title;
    max-width: 458px;
    align-self: center;
  }
}

.alert__button span {

  display: block;
  overflow: hidden;
}

