.error-popup {
  position: fixed;
  display: none;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  width: 320px;
  min-height: 280px;
  background-color: $white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet) {
    width: 400px;
    min-height: 347px;
  }

  &--show {
    display: block;
  }
}

.error-popup__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 43px 42px 34px 41px;
  row-gap: 23px;

  @media (min-width: $tablet) {
    padding: 50px 42px 50px 41px;
    row-gap: 0;
  }
}

.error-popup__title {
  @include title;
  text-align: center;

  @media (min-width: $tablet) {
    @include big-title;
    max-width: 280px;
    padding: 0 40px;
    line-height: 40px;
    margin: 0;
  }
}

.error-popup__paragraph {
  @include paragraph;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    margin: 24px 0 37px;
  }
}

.error-popup__button {
  @include button-link;
  @include title;
  min-width: 180px;
  max-width: 280px;
  min-height: 58px;
  box-sizing: border-box;
  padding: 10px 20px;

  @media (min-width: $tablet) {
    min-width: 272px;
  }
}

.error-popup__button span {
  display: block;
  overflow: hidden;
}
