.footer__container {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 34px;
  min-height: 116px;
  box-sizing: border-box;
  padding: 35px 20px 20px 20px;
  background-color: $white;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }

  @media (min-width: $desktop) {
    padding: 0 120px;
  }
}

.footer__hashtag {
  @include medium-title;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  text-align: center;
  cursor: pointer;
  color: $black;
}

.footer__developer {
  @include text;
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.footer__developer-link {
  display: block;
  margin-top: 5px;
}

.footer__developer-image {
  width: 27px;
  height: 34px;

  .footer__developer-link:hover & {
    fill: $skyblue;
  }

  .footer__developer-link:active & {
    fill: $black;
    opacity: 0.3;
  }
}
