.footer__container {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: $white;

  @media all and (max-width: $mobile) {
    min-height: 233px;
  }

  @media all and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__hashtag {
  @include button-link;
  background-color: transparent;
  color: $black;
}

.footer__developer {
  @include text;
}
