
.header__container {
  @include container;
  display: flex;
  height: 56px;
  box-sizing: border-box;
  background-color: $white;
  margin-top: 223px;

  @media (min-width: $tablet) {
    margin-top: 0;
    padding: 0 27px 0 48px;
  }

  @media (min-width: $desktop) {
    padding: 0 71px 0 90px;
  }
}

.header__logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
}
