
.header__container {
  @include container;
  display: grid;
  grid-template-rows: 1fr min-content;
  box-sizing: border-box;
  background-color: $white;

  @media (min-width: $tablet) {

  }

  @media (min-width: $desktop) {
    padding: 0 44px 0 42px;
  }
}


.header__logo-wrapper {
  position: relative;
  width: calc(100% - 40px);
  height: 56px;
  background-color: $white;
  padding: 0 20px;

  @media (min-width: $tablet) {
    width: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: none;
    z-index: 1;
  }
}

.header__logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
}

