.hotel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hotel__intro {
  margin: 0 auto;
  max-width: 458px;
}

.hotel__title {
  @include title;
  font-size: 21px;
}

.hotel__paragraph {
  @include paragraph;
}

.hotel__search-link {
  @include button-link;
  width: 100%;
}
