.hotel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 14px 0 0 0;

  @media (min-width: $tablet) {
    padding: 58px 0;
  }
}

.hotel__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 458px;
  box-sizing: border-box;
  padding: 0 20px;


  @media (min-width: $tablet) {
    padding: 0;
    row-gap: 35px;
  }
}

.hotel__title {
  @include title;
  font-size: 21px;
  margin: 0;

  @media (min-width: $tablet) {
    @include big-title;
  }
}

.hotel__paragraph {
  @include paragraph;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }
}

.hotel__search-link {
  @include button-link;
  width: 100%;
  margin: 27px 20px 49px 20px;
  padding: 15px 0 17px 0;

  @media (min-width: $tablet) {
    @include medium-title;
    padding: 15px 12px 17px 12px;
    margin: 0;
  }
}
