.hotel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 36px 20px 48px 20px;

  @media (min-width: $tablet) {
    padding: 58px 0;
  }

  @media (min-width: $desktop) {
    padding: 56px 0 66px 0;
  }
}

.hotel__intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    padding: 0;
    row-gap: 35px;
  }
}

.hotel__title {
  @include title;
  font-size: 21px;
  margin: 0;

  @media (min-width: $tablet) {
    @include big-title;
  }
}

.hotel__paragraph {
  @include paragraph;
  text-align: center;
  margin: 20px 0 28px 0;

  @media (min-width: $tablet) {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

.hotel__search-link {
  @include button-link;
  @include medium-title;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 15px 17px 15px;
  overflow: hidden;

  @media (min-width: $tablet) {
    box-sizing: content-box;
    padding: 15px 12px 17px 12px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin: 7px 0 0 0;
  }

  &--disabled {
    background-color: $smoky-white;
  }
}
