.media-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;

  @media (min-width: $tablet) {
    margin: 38px 0 0 0;
  }

  @media (min-width: $desktop) {
    margin: 75px 0 0 0;
  }
}

.media-content__title {
  @include title;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet) {
    @include big-title;
    padding: 0 60px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.media-content__intro {
  @include paragraph;
  box-sizing: border-box;
  padding: 0 20px 31px 20px;
  max-width: 430px;
  text-align: center;
  margin: 10px 0 0 0;

  @media (min-width: $tablet) {
    padding: 0;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}
