.menu {
  @include text;
  display: none;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  color: $black;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu--mobile {
  display: block;
  position: absolute;
  top: -224px;
  left: 0;
}

.menu__item--mobile {
  text-align: center;
  background-color: $skyblue;
  box-sizing: border-box;
  padding: 18px 20px 10px 19px;
  font-size: 18px;
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid $dark-blue;
  cursor: pointer;

  &:hover {
    background-color: $blue;
  }
}

.menu__item--mobile:last-child {
  box-shadow: inset 0px -5px 5px 0px rgba(34, 60, 80, 0.2);
}

.menu__item:nth-child(2) {
  @media (min-width: $tablet) {
    margin-left: 26px;
  }

  @media (min-width: $desktop) {
    margin-left: 23px;
  }
}

.menu__item:nth-child(3) {
  @media (min-width: $tablet) {
    margin-left: 160px;
  }

  @media (min-width: $desktop) {
    margin-left: 245px;
  }
}

.menu__item-link {
  text-decoration: none;
  color: $black;

  &:hover {
    color: $skyblue;
  }

  &:active {
    color: $black;
    opacity: 0.3;
  }
}

.menu__item-link {
  color: $black;

  .menu__item--mobile & {
    color: $white;
  }

  .menu__item--mobile:active & {
    opacity: 0.3;
  }

  .menu__item--active & {
    color: $brown;

    &:hover {
      color: $dark-brown;
    }

    &:active {
      color: $brown;
      opacity: 0.3;
    }
  }
}
