.menu {
  @include text;
  display: none;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  color: $black;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.menu__item:nth-child(2) {
  @media (min-width: $tablet) {
    margin-left: 26px;
  }

  @media (min-width: $desktop) {
    margin-left: 23px;
  }
}

.menu__item:nth-child(3) {
  @media (min-width: $tablet) {
    margin-left: 160px;
  }

  @media (min-width: $desktop) {
    margin-left: 245px;
  }
}

.menu a {
  text-decoration: none;
  color: $black;
}
