.menu {
  @include text;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  color: $black;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: $skyblue;
  font-size: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid $dark-blue;
  box-sizing: border-box;
  text-align: center;
  word-break: break-word;
  min-height: 55px;

  &:hover {
    background-color: $blue;

    @media (min-width: $tablet) {
      background-color: transparent;
    }
  }

  &:last-child {
    box-shadow: inset 0 -5px 5px 0 rgba(34, 60, 80, 0.2);
    border-bottom: none;

    @media (min-width: $tablet) {
      box-shadow: none;
    }
  }

  @media (min-width: $tablet) {
    background-color: $white;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    padding: 15px;
    min-height: 56px;
    width: 153px;

    &:nth-child(4n+3) {
      margin-left: 156px;
    }
  }

  @media (min-width: $desktop) {
    width: 238px;
    padding: 12px 20px 11px 19px;

    &:nth-child(4n+3) {
      margin-left: 245px;
    }
  }
}

.menu__item-link {
  display: block;
  text-decoration: none;
  color: $white;
  padding: 14px;
  max-width: 212px;

  &:hover {
    background-color: $blue;
    color: $white;

    @media (min-width: $tablet) {
      background-color: transparent;
      color: $dark-brown;
    }
  }

  &:active {
    opacity: 0.3;

    @media (min-width: $tablet) {
      color: $brown;
    }
  }

  &:focus-visible {
    outline: 4px solid $dark-grey;
  }

  @media (min-width: $tablet) {
    @include text;
    color: $black;
    font-weight: bold;
    padding: 0;
  }

  .menu__item--active & {
    @media (min-width: $tablet) {
      color: $brown;
    }
  }
}
