.navigation {
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.navigation__toggle {
  display: block;
  position: absolute;
  right: 0;
  width: 23px;
  height: 22px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;

  @media (min-width: $tablet) {
    display: none;
  }
}
