.navigation {
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    padding: 14px 27px 16px 48px;
  }
}

.navigation__button {
  display: block;
  position: absolute;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &--close {
    top: 17px;
    right: 20px;
  }
}

.navigation__close-image {
  .navigation__button--close:hover & {
    opacity: 0.6;
  }

  .navigation__button--close:active & {
    opacity: 0.3;
  }
}

