.navigation {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;

  &--no-js {
    position: static;
  }

  &--active {
    display: block;
  }

  @media (min-width: $tablet) {
    display: block;
    position: static;
    padding: 14px 27px 16px 48px;
  }
}

.navigation__close-button {
  display: none;
  position: absolute;
  top: 17px;
  right: 20px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  @media (max-width: $tablet) {
    &--show {
      display: block;
    }
  }
}

.navigation__close-image {
  .navigation__close-button:hover & {
    opacity: 0.6;
  }

  .navigation__close-button:active & {
    opacity: 0.3;
  }
}
