.opportunities-list {
  list-style: none;
  background-color: $white;
  color: $black;
}

.opportunities-list__item-title {
  @include title;
}

.opportunities-list__item-paragraph {
  @include paragraph;
}
