.opportunities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  background-color: $white;
  color: $black;
  margin: 0;
  box-sizing: border-box;
  padding: 25px 21px 30px 18px;
  row-gap: 14px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 9px 58px 6px;
  }

  @media (min-width: $desktop) {
    padding: 60px 9px 80px 6px;
  }
}

.opportunities-list__item {
  @include title;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content;


  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 242px;
    padding: 0 24px;
  }

  @media (min-width: $desktop) {
    max-width: 386px;
    padding: 0 65px;
  }
}

.opportunities-list__item:nth-of-type(2) {
  @media (min-width: $tablet) {
    order: 3;
  }

  @media (min-width: $desktop) {
    padding: 0 85px;

    // .opportunities-list__item-paragraph {
    //   width: 220px;
    // }
  }
}

.opportunities-list__item:nth-of-type(3) {
  @media (min-width: $tablet) {
    padding: 0 45px;
  }
}

.opportunities-list__item-image {
  grid-row: 1 / 3;
  width: 39px;
  height: 37px;

  @media (min-width: $tablet) {
    width: 75px;
    height: 72px;
  }
}

.opportunities-list__item-title {
  @include title;
  margin: 9px 10px 12px 12px;

  @media (min-width: $tablet) {
    @include medium-title;
    margin: 27px 10px 21px 13px;
  }
}

.opportunities-list__item-paragraph {
  @include paragraph;
  text-align: left;
  margin: 0 0 0 11px;

  @media (min-width: $tablet) {

    text-align: center;
    line-height: 22px;
    margin: 0;
  }
}
