.photo {
  &__title {
    @include paragraph;
    font-weight: bold;
  }

  &__author {
    @include paragraph;
    text-transform: none;
  }

  &__likes-counter {
    @include paragraph;
    font-weight: bold;
  }
}
