.photo {
  padding: 22px 20px 15px 20px;

  @media (min-width: $tablet) {
    padding: 0;
  }

  @media (min-width: $desktop) {
    position: relative;

  }
}

.photo__info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px 0 0 0;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    background-color: $light-grey;
    padding: 20px 20px 15px 20px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: $white;
  }

  &--wide {
    margin: 0;
    padding: 15px 20px 17px 20px;
  }
}

.photo__title {
  @include paragraph;
  font-weight: bold;
  margin: 0;

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.photo__image-link {
  display: block;
  height: 280px;

  &--wide {
    @media (min-width: $tablet) {
      height: 400px;
    }
  }
}

.photo__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.photo__author {
  @include paragraph;
  text-transform: none;
  margin: 0;

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.photo__likes {
  display: flex;
  align-items: baseline;
  margin: 11px 0 0 0;

  @media (min-width: $tablet) {
    justify-self: flex-end;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin: 5px 0 0 0;
  }
}

.photo__like-icon path {
  @media (min-width: $desktop) {
    fill: $white;
    opacity: 1;
  }
}

.photo__likes-counter {
  @include paragraph;
  font-weight: bold;
  margin: 0 0 0 14px;

  @media (min-width: $tablet) {
    margin: 0 0 0 9px;
  }
}
