.photos-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.photos-list__item {
  min-height: 280px;
  min-width: 280px;
  height: 100%;
  width: 100%;
}

.photos-list__item--wide {
  @media (min-width: $tablet) {
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 4;
  }
}
