.popup {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 320px;
  background-color: $white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet) {
    &--error {
      width: 400px;
    }

    &--message {
      width: 640px;
    }
  }

  &--show {
    display: block;
  }
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 41px 43px 34px 40px;
  row-gap: 24px;

  @media (min-width: $tablet) {
    padding: 49px 42px 50px 40px;
    row-gap: 0;
  }
}

.popup__title {
  @include title;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet) {
    @include big-title;
  }

  &--error {
    max-width: 280px;

    @media (min-width: $tablet) {
      padding: 0 40px;
      line-height: 40px;
    }
  }
}

.popup__paragraph {
  @include paragraph;
  text-align: center;
  margin: 0;

  &--error {
    @media (min-width: $tablet) {
      margin: 24px 0 37px;
    }
  }
}

.popup__header {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  box-sizing: border-box;
  padding: 39px 42px 37px 41px;
  background-color: $white;

  @media (min-width: $tablet) {
    min-height: 201px;
    row-gap: 31px;
    padding: 50px 50px 36px 50px;
  }

  @media (min-width: $desktop) {
    row-gap: 35px;
  }
}

.popup__footer {
  display: flex;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: $light-grey;

  @media (min-width: $tablet) {
    padding: 45px 44px 43px 44px;
  }
}


.popup__button {
  @include button-link;
  @include title;
  box-sizing: border-box;
  align-self: center;

  @media (min-width: $tablet) {
    @include medium-title;
  }

  &--error {
    width: 180px;
    padding: 19px 20px 13px 20px;

    @media (min-width: $tablet) {
      width: 272px;
    }
  }

  &--message {
    width: 100%;
    padding: 18px 22px 14px 20px;

    @media (min-width: $tablet) {
      width: 458px;
    }
  }
}
