.reasons {
  display: flex;
  flex-direction: column;
}

.reasons__title {
  @include title;
  box-sizing: border-box;
  padding: 0 20px;
}

.reasons__intro {
  @include text;
  box-sizing: border-box;
  padding: 0 20px;
}
