.reasons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media all and (max-width: $mobile) {
    width: 320px;
    background-color:chartreuse;
  }

  @media all and (min-width: $tablet) {

    background-color: cadetblue;
  }

  @media all and (min-width: $desktop) {
    background-color: chocolate;
  }
}

.reasons__title {
  @include title;
}

.reasons__intro {
  @include text;
}

.reasons-list {
  padding: 0;
  margin: 0;
}


