.review {
  margin: 20px 0 41px 0;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    padding: 0 60px;
    margin: 37px 0 41px 0;
  }

  @media (min-width: $desktop) {
    margin: 87px 0 45px 0;
    padding: 0 120px;
  }
}

.review__title {
  @include title;
  text-align: center;
  padding: 0 20px;

  @media (min-width: $tablet) {
    @include big-title;
    grid-column: 1 / 3;
  }
}

.review__intro {
  @include paragraph;
  text-align: center;
  border-bottom: 1px solid $smoky-white;
  margin: 0;
  padding: 15px 20px;

  @media (min-width: $tablet) {
    grid-column: 1 / 3;
    border-bottom: none;
    padding: 8px 20px;
    margin: 0 auto;
    width: 435px;
  }
}
