.social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 6px;

  @media (min-width: $tablet) {
    margin-right: 10px;
  }
}

.social__item-link {
  display: block;
  width: 47px;
  height: 48px;
  background-color: $skyblue;

  @media (min-width: $tablet) {
    width: 46px;
    height: 48px;
  }
}
