.video {
  margin: 10px 0 0 0;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    margin: 35px 0 0 0;
    padding: 0 60px;
  }

  @media (min-width: $desktop) {
    margin: 26px 0 0 0;
    padding: 0 201px 0 199px;
  }
}

.video__title {
  @include title;
  text-align: center;
  padding: 0 20px;
  margin: 22px 0 19px 0;

  @media (min-width: $tablet) {
    @include big-title;
    padding: 0 60px;
    margin: 22px 0 34px 0;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.video__intro {
  @include paragraph;
  margin: 0 auto;
  padding: 10px 30px 33px 30px;
  max-width: 445px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 0 60px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.video__content {
  width: 100%;
  padding: 0 0 105px 0;

  @media (min-width: $tablet) {
    padding: 0;
    margin: 79px 0 133px 0;
  }

  @media (min-width: $desktop) {
    margin: 77px 0 83px 0;
  }
}

.video__preview {
  padding: 0 0 66px 0;

  @media (min-width: $tablet) {
    padding: 80px 0 0 0;
    height: 500px;
  }
}

.video__panel-wrapper {
  position: relative;
  bottom: 153px;
  margin: 0 20px;

  @media (min-width: $tablet) {
    margin: 0;
    bottom: 228px;
  }

  @media (min-width: $desktop) {
    bottom: 180px;
  }
}

.video__panel {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to top, $light-grey 65px, transparent 44px);
  box-sizing: border-box;
  padding: 0 0 24px 0;
  width: calc(100%);

  @media (min-width: $tablet) {
    padding: 23px 41px 25px 35px;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: none;
  }
}

.video__track-panel {
  order: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  padding: 22px 23px 20px 22px;
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    flex: 1;
    order: 2;
    background-color: transparent;
    margin: 0;
    padding: 22px 41px 20px 42px;
  }
}

.video__track {
  height: 3px;
  width: 100%;
  background-color: $white;
  opacity: 0.2;
}

.video__scroll {
  position: absolute;
  top: 19px;
  left: 58px;
  width: 9px;
  height: 9px;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet) {
    top: 41px;
    left: 205px;
  }
}

.video__button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;

  &--replay {
    order: 2;
    margin: 0 0 0 25px;
    z-index: 1;

    @media (min-width: $tablet) {
      order: 1;
      margin: 0;
    }
  }

  &--subtitles {
    order: 3;
    margin-left: auto;
    z-index: 1;

    @media (min-width: $tablet) {
      margin-left: 0;
    }
  }

  &--fullscreen {
    order: 4;
    margin: 0 23px 0 31px;
    z-index: 1;

    @media (min-width: $tablet) {
      margin: 0 0 0 31px;
    }
  }
}

.video__button-icon {
  opacity: 1;
}

.video__button-icon path {
  @media (min-width: $tablet) {
    fill: $white;
  }
}
