.welcome {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  background-image: url("../img/welcome-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding: 0 20px;
  height: 389px;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/welcome-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    background-image: url("../img/welcome-background-tablet@1x.jpg");
    height: 518px;
    padding: 0 20px 15px 20px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/welcome-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/welcome-background-desktop@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/welcome-background-desktop@2x.jpg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../img/welcome-decoration-before.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 57px;
    width: 100%;

    @media (min-width: $tablet) {
      bottom: -1px;
    }
  }

  &--inner-block {
    height: 158px;

    @media (min-width: $tablet) {
      height: 290px;
    }

    @media (min-width: $desktop) {
      height: 301px;
    }
  }
}

.welcome__text-image {
  user-select: none;
  width: 282px;

  @media (min-width: $tablet) {
    width: 460px;
  }

  &--inner {
    width: 229px;
    margin: 0 0 15px 0;

    @media (min-width: $tablet) {
      width: 457px;
      margin: 0 0 6px 5px;
    }

    @media (min-width: $desktop) {
      margin: 0 2px 3px 0;
    }
  }
}
