.welcome {
  background-color: $white;
  background-image: url("../img/welcome-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  @media all and (max-width: $mobile) {
    min-height: 389px;
  }

  @media all and (min-width: $tablet) {
    min-height: 518px;
  }
}

.welcome__text {
  min-width: 280px;
  max-width: 460px;
  object-fit: contain;
}
