@mixin container {
  margin: 0 auto;
  min-width: $mobile;
  max-width: $desktop;
}

@mixin text {
  font-family: "PT Sans", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

@mixin title {
  font-family: "PT Sans", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  overflow: hidden;
}

@mixin medium-title {
  font-family: "PT Sans", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  overflow: hidden;
}

@mixin big-title {
  font-family: "PT Sans", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 26px;
  text-transform: uppercase;
  overflow: hidden;
}

@mixin paragraph {
  font-family: "PT Sans", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  overflow: hidden;
}

@mixin button-link {
  @include big-title;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  background-color: $skyblue;
  border: none;
  text-align: center;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: $blue;
  }

  &:active {
    background-color: $dark-blue;
    color: rgba(255, 255, 255, 0.3);
  }
}

@mixin disabled-button-link {
  background-color: $smoky-white;
  color: $white;
  cursor: auto;

  &:hover {
    background-color: $smoky-white;
  }

  &:active {
    background-color: $smoky-white;
  }

  &:focus {
    background-color: $smoky-white;
  }
}
