@mixin container {
  margin: 0 auto;
  min-width: $mobile;
  max-width: $desktop;
}

@mixin text {
  font-family: "PT Sans", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

@mixin title {
  font-family: "PT Sans", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

@mixin paragraph {
  font-family: "PT Sans", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

@mixin big-text {
  font-family: "PT Sans", "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

@mixin button-link {
  @include big-text;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  background-color: $skyblue;
  border: none;
  text-align: center;
}
