$white: #FFFFFF;
$smoky-white: #E5E5E5;
$soft-grey: #E7E5E5;
$light-grey: #F2F2F2;
$grey: #D5D5D5;
$shadow-grey: #EEEEEE;
$dark-grey: #666666;
$pale-gray: #5C6870;
$brown: #766357;
$dark-brown: #604E43;
$black: #000000;
$asphalt: #333333;
$skyblue: #81B3D2;
$blue: #669EC0;
$dark-blue: #5496BD;

